body{
    background-color: bisque;
}
image{
    5px auto 5px auto;
}
p{
    color: black;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;

}
h2{
    font-size: larger;
    color: brown;
    font-style: oblique;
}